*{
    margin: 0px;
    padding: 0x;

}
body{
    background-color: #c6c6c6;

}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 600px;
    justify-content: center;
    align-items: center;


}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    background-color: rgb(255, 0, 0);
}
p{
   border: 1px solid black;
   padding-left: 20px;
   font-size: 20px;
   border-radius: 2%;
   margin: 20px;
}
.image,h3{
    text-align: center;
}

